div a {
    color: #00000080;
}

div a:hover {
    color: #000;
}

.logo {
    max-height: 6rem;
    // position: absolute;
    // top: -8px;
    // left: 22px;
    @media (max-width: 991px) {
        display: none;
        max-height: 5rem;
    }
}

.logoMobile {
    display: none;
    @media (max-width: 991px) {
        display: inline ;
    }
}